#accueil{
    background-color: $dark;
    background-image: url(../img/Fond_Icones_Design.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    text-align: center;
    
}

#logo{
    text-align: center;
    padding-top: 5%;
}