footer.page-footer {
    padding: 0 50px;
    background-color: $dark;
    .footer-copyright {
        text-align: center;
    }
    a {
        color: $primary-light;
        &:hover {
            color: white;
        }
    }
    #logo-i3 {
        height: 30px;
        width: auto;
    }
}