
form {
    margin-bottom: 5%;
}

#login{
    .input-field{
        width: 200px;
        margin: 50px auto;
        
        input{
            background-color: white;
            border: hidden;
            border-radius: 10px;
            height: 30px;
        }
    }
}


// BUTTONS

.btn {
    background-color:$primary-light;
    &:hover {
        background-color:$primary;
    }
}

.file-field .btn {
    background-color: $dark;
}