
form {
    margin-bottom: 5%;
}

.input-field.col label {
    left: 0;
}


// BUTTONS

.btn {
    background-color:$primary-light;
    &:hover {
        background-color:$primary;
    }
}

.file-field .btn {
    background-color: $dark;
}