.container-main{
	margin: 0 5vw;
	.content-main{
		display:flex;
		flex-wrap: wrap;
		padding-top: 5rem;
		min-height: 200px;
		h4{
			margin-bottom: 2.5rem;
			&.objectListTitle{
				margin-left: 7px;
				background: linear-gradient(to right, black 20%, $primary 40%, $primary 60%, black 80%);
				background-size: 200% auto;
				color: black;
				background-clip: text;
				text-fill-color: transparent;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				animation: shine 2s linear infinite;
			}
		}
		.category-block{
			height: 100%;
			border-radius: 15px;
			margin: 1vw;
			padding: 10px 20px;
			[type="radio"]:checked + span:after,
			[type="radio"].no-gap:checked + span:before,
			[type="radio"].no-gap:checked + span:after {
				border: 2px solid #c51162;
				background-color: #f48fb1 ;
			}
		}
		.objects-block{
			height: 100%;
			margin: 1vw;
			padding: 10px 20px;
			#product-list{
				display:flex;
				flex-wrap: wrap;
				justify-content: flex-start;
			}
			.card-image{
				position:relative;
				.mini-avatar{
					position: absolute;
					top: 0;
					left: 0;
					height: 50px;
					width: 50px;
					background-size: cover;
					background-position: center center;
					z-index: 1;
					border-radius: 50%;
					margin: 10px;
				}
			}
			.collapsible{
				box-shadow: none;
				border: none;
				.collapsible-header, .collapsible-body{
					border: none;
					padding: 1rem 0;
				}
				.material-icons{
					transition: all 250ms ease-in-out;
				}
				li.active .collapsible-header .material-icons{
					transform: rotate(45deg);
				}
			}
		}
	}
}


  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }