.container-main{
	margin: 0 5vw;
	.content-main{
		display:flex;
		flex-wrap: wrap;
		padding-top: 5rem;
		min-height: 200px;
		.category-block{
			height: 100%;
			border-radius: 15px;
			margin: 1vw;
			padding: 10px 20px;
			[type="radio"]:checked + span:after,
			[type="radio"].no-gap:checked + span:before,
			[type="radio"].no-gap:checked + span:after {
				border: 2px solid #c51162;
				background-color: #f48fb1 ;
			}
		}
		.objects-block{
			height: 100%;
			margin: 1vw;
			padding: 10px 20px;
			.card-image{
				position:relative;
				.mini-avatar{
					position: absolute;
					top: 0;
					left: 0;
					height: auto;
					width: auto;
					max-height: 50px;
					max-width: 50px;
					z-index: 1;
					border-radius: 50%;
				}
			}
			.collapsible{
				box-shadow: none;
				border: none;
				.collapsible-header, .collapsible-body{
					border: none;
					padding: 1rem 0;
				}
				.material-icons{
					transition: all 250ms ease-in-out;
				}
				li.active .collapsible-header .material-icons{
					transform: rotate(45deg);
				}
			}
		}
	}
}
