#signup{
    background-image: url("../img/fond-icones-design.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 80%;   
	text-align: center;
	#logo{
		max-width: 300px;
	}
	form{
		max-width: 900px;
		margin: 0 auto;
	}
}
